@model List<Tatil2.Models.Rezervasyon>

<div class="card p-3 mt-4">
    <h4>Rezervasyonlar</h4>

    @if (Model == null || !Model.Any())
    {
        <div class="alert alert-warning">
            Hiç rezervasyon bulunamadı.
        </div>
    }
    else
    {
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Müşteri ID</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>Oda ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                {
                    <tr>
                        <td>@r.Id</td>
                        <td>@r.MusteriId</td>
                        <td>@r.BaslangicTarihi.ToString("dd.MM.yyyy")</td>
                        <td>@r.BitisTarihi.ToString("dd.MM.yyyy")</td>
                        <td>@r.OdaId</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<div class="card p-3 mt-4">
	<h4>Oteller</h4>
</div>


<div class="card p-3 mt-4">
	<h4>Yorumlar</h4>
</div>


