@model List<Tatil2.Models.Rezervasyon>

<div class="card p-3 mt-4">
    <h4>Tüm Rezervasyonlar</h4>
    <style>
        .detaybuton {
            background-color: #3d2224;
            color: white;
            border: none;
            width: 100px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: auto;
        }
    </style>

    @if (!Model.Any())
    {
        <div class="alert alert-warning">Rezervasyon bulunamadı.</div>
    }
    else
    {
        <table class="table table-striped mt-3">
            <thead>
                <tr>

                    <th>Müşteri</th>
                    <th>Başlangıç</th>
                    <th>Bitiş</th>
                    <th>durum</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in Model)
                {
                    <tr>

                        <td>@r.Musteri.Ad  @r.Musteri.Soyad</td>
                        <td>@r.BaslangicTarihi.ToString("dd.MM.yyyy")</td>
                        <td>@r.BitisTarihi.ToString("dd.MM.yyyy")</td>
                        <td>
                            @if (r.durum == "Onaylandı")
                            {
                                <span style="color:forestgreen">Onaylandı</span>
                            }
                            else if (r.durum == "Reddedildi")
                            {
                                <span style="color:darkred">Reddedildi</span>
                            }
                            else
                            {
                                <span style="color:cornflowerblue">Beklemede</span>
                            }
                        </td>

                        <td>
                            <a href="@Url.Action("Detay", "Admin", new { id = r.Id })" class="detaybuton">Detay</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
