@model List<Tatil2.Models.Otel>

<h1>Eklenen Oteller</h1>

@if (Model != null && Model.Any())
{
    @foreach (var otel in Model)
    {
        <div class="otel">
            <h3>@otel.Ad</h3>
            <img src="@otel.Poster" alt="Otel Resmi" class="img-fluid" />
            <p><strong>Konum:</strong> @otel.Konum</p>
            <p>@otel.Aciklama</p>
            <a href="@Url.Action("incele", "Oteller", new { id = otel.Id })" class="btn">İncele</a>

            <hr />
        </div>
    }
}

